{
	"name": "Player",
	"components": {
		"1": {
			"type": "Animator",
			"animation_name": "engineer_idle"
		},
		"2": {
			"type": "AnimatedSprite",
			"scale_x": 10,
			"scale_y": 10
		},
		"3": {
			"type": "Rigidbody",
			"body_type": "dynamic",
			"has_trigger": false,
			"x": 5,
			"y": 10,
			"height": 7,
			"width": 2.5
		},
		"4": {
			"type": "Player",
			"index": 0
		},
		"5": {
			"type": "CharacterController"
		}
	}
}